.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7 , 1fr);   
    width: 90%;
    height: 550px;
    margin-inline: auto;  
    border: 1px solid black;


}
.cell{
    outline: 2px solid black;
    background-color : white;
    size: inherit;

}
